@font-face {
    font-family: 'MyFont';
    src: url('./fonts/spongeboy_me_bob1-webfont.woff2') format('woff2'),
    url('./fonts/spongeboy_me_bob1-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }


* {
    padding: 0;
    margin: 0;
}

:root{
    font-size: 62.5%;
    font-family: MyFont, serif;

    --navbar-size: 50px;
    --krusty-font-color: #b22d1e;
    --krusty-back-color: #b9b1f4;
    --main-font-color: seashell;;
    --container-back-color: rgba(47, 97, 162, 0.455);
}

body {
    background-color: #ebf2c9;
    color: var(--main-font-color);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--navbar-size);
    width: 100%;
    background-color: var(--krusty-back-color);
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;

    & h1 {
        color: var(--krusty-font-color);
        font-size: 3rem;
        align-self: center;
        margin-left: 20px;
    }

    & ul {
        list-style: none;
        display: flex;
        gap: 20px;
        justify-content: right;
        font-size: 2rem;
        margin-right: 20px;
    }
}

nav > ul > li {
    cursor: pointer;
}

nav > ul > li:hover {
    color: blue;
}

.home-page, .menu-page, .about-page {
    z-index: -1;
    background-image: url('./images/background.webp');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: var(--navbar-size);
    height: 100vh;
    width: 100%;
    background-size: 100%;
    font-size: 1.6rem;
    display: flex;
}

.home-page {
    & h2 {
        font-size: min(5rem, 5vh, 3vw);
        margin: 3% 0 0 10%;
        color: seashell;
    }
}

.about-page{
    background-image: url('./images/krusty-krab-inside-2.jpg');
}

.menu-page {
    background-image: url('./images/krusty-krab-inside.webp');
}

.menu-container, .about-container {
    height: calc(90% - var(--navbar-size));
    width: 80%;
    background-color: var(--container-back-color);
    margin: auto;
    padding: 30px;
    position: relative;
    display: grid;
    grid-template-columns: min(300px, 1fr);
    grid-template-rows: 50px;
    grid-auto-rows: 1fr;
    overflow: auto;
}

.menu-pic {
    position: absolute;
    top: 30px;
    right: 30px;
    height: min(350px,30vw);
    width: auto;
}

.grid-item {
    display: flex;
    gap: 15px;
}

.grid-item > img {
    height: min(160px, 35vw);
    aspect-ratio: 4/3;
    /* width: auto; */
}

.hidden {
    display: none;
}
